.page-header
  %h1 About me

%p
  I am a #{years_old} year old web developer with over #{years_experience} years of experience developing web applications.
  I started as a freelancer in january 2014. I enjoy programming in Ruby on Rails a a lot.

.thumbnail
  = link_to '#profile-picture', data: { toggle: 'modal' } do
    = image_tag('profile.jpg', alt: 'Profile picture')

#profile-picture.modal.fade
  .modal-dialog
    .modal-content
      .modal-body= image_tag('profile.jpg', alt: 'Profile picture')