.page-header
  %h1 About me

.thumbnail
  = link_to '#profile-picture', data: { toggle: 'modal' } do
    = image_tag('profile.jpg', alt: 'Alex Buijs - Ruby on Rails Freelancer')

%p
  I am a developer with over #{years_ago('2006-1-1')} years of experience creating web applications.
  Between january 2006 and january 2014, I worked for Ciber Netherlands B.V. as a consultant within the ECM & Portals
  service line.
  I have over #{years_ago('2008-10-1')} years of experience with Ruby on Rails. Once I encountered Ruby,
  there was no way back for me. I gain much satisfaction from programming in Ruby. In january 2014
  I started as a freelancer, developing web applications with Ruby on Rails. I enjoy using the latest techniques and
  adhering to best practices. I take pride in creating beautiful and minimal code.

%p
  I was born in Utrecht, the Netherlands on may 17th, 1974. I graduated in Cognitive Artificial Intelligence at the
  Faculty of Philosophy, Utrecht University.
  After I received my Master's degree I went to Japan several times, over a period of three years,
  to practice Zen training at Tofukuji, a Kyoto based Rinzai Zen Monastery.
  In february 2006 my daughter Nola was born.
  Nowadays I still live in Utrecht, co-parenting my daughter, in a lovely neighborhood, with my girlfriend Elske
  living around the corner.

.page-header
  %h1 What can I do for you?

%p
  If you are looking for a developer for your (mobile) website, contact me. I can develop the back-end of your site
  (Ruby on Rails), the front-end (HTML5/Javascript/CSS), or both. I have a lot of experience working as part of
  a larger team as well as developing single-handedly. I love working in an agile way, either remote or on site.

#profile-picture.modal.fade
  .modal-dialog
    .modal-content
      .modal-body= image_tag('profile.jpg', class: 'img-responsive', alt: 'Profile picture')