.page-header
  %h1
    Address
    %small Haïtidreef 3E, 3563 HC, Utrecht, Netherlands

#map-canvas

.page-header
  %h1 Info

.info
  .data
    .panel
      .panel-heading
        %h3 KvK
      .panel-body 59563710
  .data
    .panel
      .panel-heading
        %h3 BTW
      .panel-body NL177182672B01
  .data
    .panel
      .panel-heading
        %h3 Bank
      .panel-body NL30 TRIO 0197 8234 32

.page-header
  %h1 Social

.social
  .data
    .panel
      .panel-heading
        %h3= fa_icon 'linkedin'
      .panel-body= link_to 'linkedin.com/in/alexbuijs', 'https://www.linkedin.com/in/alexbuijs', target: '_blank'
  .data
    .panel
      .panel-heading
        %h3= fa_icon 'github'
      .panel-body= link_to 'github.com/alexbuijs', 'https://github.com/alexbuijs', target: '_blank'
  .data
    .panel
      .panel-heading
        %h3= fa_icon 'facebook'
      .panel-body= link_to 'facebook.com/alexbuijs', 'https://www.facebook.com/alexbuijs', target: '_blank'