%ul.nav.nav-tabs
  %li.active
    = link_to 'home', '#home', data: { toggle: 'tab' }
  %li
    = link_to 'data', '#data', data: { toggle: 'tab' }

.tab-content
  #home.tab-pane.active
    = render 'home'
  #data.tab-pane
    = render 'data'

.contact-details
  .phone
    = link_to 'tel:+31640485702' do
      %span.glyphicon.glyphicon-earphone
      +316 4048 5702
  .mail
    = mail_to 'contact@alexbuijsweb.nl' do
      %span.glyphicon.glyphicon-envelope
      contact@alexbuijsweb.nl