%ul.nav.nav-tabs.nav-justified
  %li.active
    = link_to 'home', '#home', data: { toggle: 'tab' }
  %li
    = link_to 'about', '#about', data: { toggle: 'tab' }
  %li
    = link_to 'info', '#info', data: { toggle: 'tab' }
  %li
    = link_to 'projects', '#portfolio', data: { toggle: 'tab' }
  %li
    = link_to 'experience', '#experience', data: { toggle: 'tab' }

.tab-content
  #home.tab-pane.active
    = render 'home'
  #about.tab-pane
    = render 'about'
  #info.tab-pane
    = render 'info'
  #portfolio.tab-pane
    = render 'portfolio'
  #experience.tab-pane
    = render 'experience'

#contact-details
  .phone
    = link_to 'tel:+31640485702' do
      = fa_icon 'phone', text: '+316 4048 5702'
  .mail
    = mail_to 'contact@alexbuijsweb.nl' do
      = fa_icon 'envelope', text: 'contact@alexbuijsweb.nl'