%ul.nav.nav-tabs.nav-justified
  %li.active
    = link_to 'home', '#home', data: { toggle: 'tab' }
  %li
    = link_to 'about', '#about', data: { toggle: 'tab' }
  %li
    = link_to 'info', '#info', data: { toggle: 'tab' }
  %li
    = link_to 'projects', '#portfolio', data: { toggle: 'tab' }
  %li
    = link_to 'experience', '#experience', data: { toggle: 'tab' }

.tab-content
  .tab-pane.active#home
    = render 'home'
  .tab-pane#about
    = render 'about'
  .tab-pane#info
    = render 'info'
  .tab-pane#portfolio
    = render 'portfolio'
  .tab-pane#experience
    = render 'experience'

#contact-details
  .phone
    = link_to 'tel:+31640485702' do
      = fa_icon 'phone', text: '+316 4048 5702'
  .mail
    = mail_to 'contact@alexbuijsweb.nl' do
      = fa_icon 'envelope', text: 'contact@alexbuijsweb.nl'
