!!! 5
%html
  %head
    %title Alex Buijs Web Development - Freelance Ruby on Rails Web Developer
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ name: 'description',
           content: 'Alex Buijs is a Utrecht based freelance web developer specialized in the Ruby on Rails web framework' }

  %body
    .container
      .header
      .row
        .content
          = yield
        .logo-container
          = render 'shared/logo'
      .footer

    = skills
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'