!!! 5
%html
  %head
    %title Alex Buijs Web Development - Freelance Ruby on Rails Web Developer From Utrecht
    = stylesheet_link_tag 'application', media: 'all'
    = favicon_link_tag '/favicon.ico'
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ name: 'description',
           content: 'Alex Buijs is a Utrecht based freelance web developer specialized in the Ruby on Rails web framework' }
    %link{ rel: 'publisher', href: 'https://plus.google.com/115659084852089582729' }
    %link{ rel: 'author', href: 'https://plus.google.com/115659084852089582729' }

  %body
    .container
      = render 'shared/microdata'
      .header
      .row
        .content
          = yield
        .logo-container
          = render 'shared/logo'
      .footer

    = skills
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'
